<!-- A blog post -->
<section class="post">
    <header class="post-header">
        <img width="250" class="post-avatar" src="{{model.imgurl}}">

        <h2 class="post-title">{{model.title}}</h2>

        <p class="post-meta">
            By {{model.author}}, posted on {{model.timestamp}}
        </p>
    </header>

    <div class="post-text">
        <p>{{model.text}}</p>
    </div>

    <h4>Comments:</h4>
    {{#each model.comments as |comment|}}
      {{comment-tile comment=comment}}
    {{/each}}
    <br>
    {{new-comment createComment="createComment" post=model}}

    {{post-admin deletePost="delete" gotoUpdate="gotoUpdate" post=model}}



</section>
